/* Main.css */

.main-slide,
.main-banner,
.main-carousel {
    margin-bottom: 40px;
}

@media screen and (min-width:768px) {

    .main-slide,
    .main-banner,
    .main-carousel {
        margin-bottom: 80px;
    }

    .main-banner .x2 {
        display: flex;
        padding: 0 28px;
    }

    .main-banner .x1 {
        padding: 0 28px;
    }

}

@media screen and (min-width:1280px) {

    .main-slide {
        margin-bottom: 120px;
    }

    .main-banner {
        width: 1440px;
        margin: 0 auto 120px auto;
    }

    .main-carousel {
        width: 1386px;
        margin: 0 auto 120px auto;
    }
}