/* ItemCard.css */
.item-card .product-img {
    margin-bottom: 12px;
}

.item-card .product-name {
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: 500;
    color: #111;
}

.item-card .product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}