/* SlideFull.css */

/* .slick-slide는 슬라이드 1장을 감싸는 div */
.SlideFull .slick-slide img {
    width: 100%;
    height: auto;
}

.SlideFull .slick-slide .pc {
    display: none;
}

/* .slick-dots 페이져 영역의 ul */
.SlideFull .slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    display: flex !important;
    justify-content: center;
    gap: 8px;
}

.SlideFull .slick-dots li button {
    width: 12px;
    height: 12px;
    border: 0;
    border-radius: 50%;
    text-indent: -999999px;
    opacity: 0.6;
}

/* .slick-active 활성화 상태의 li */
.SlideFull .slick-dots .slick-active button {
    opacity: 1;
}

@media screen and (min-width:1280px) {
    .SlideFull .slick-slide .mo {
        display: none;
    }

    .SlideFull .slick-slide .pc {
        display: block;
        max-width: 1920px;
        margin: 0 auto;
    }

    /* .slick-arrow는 좌우 버튼 공통 클래스 button */
    .SlideFull .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        font-size: 40px;
        z-index: 1;
    }

    .SlideFull .slick-prev {
        left: 50%;
        margin-left: -720px;
    }

    .SlideFull .slick-next {
        right: 50%;
        margin-right: -720px;
    }
}