/* App.css */

img {
    width: 100%;
    height: auto;
}

#wrapper {
    position: relative;
    width: 100%;
}

@media screen and (min-width: 1280px) {
    #wrapper {
        min-width: 1440px;
    }
}